<div class="article-index">

	<ul>
		{% for post in site.posts offset:{{include.offset}} limit:{{include.limit}} %}
			{% if post.url != page.url %}
					<li class="article-item">
						<a href="{{ site.baseurl }}{{ post.url }}">
							<div class="item-header">
								<span class="item-title">{{ post.title }}</span>
								<i class="fa fa-circle" aria-hidden="true"></i>
								<span class="item-suburb">{{ post.district }}</span>
								<br>
								<span class="item-eaten">Eaten <span class="date">{{ post.date }}</span></span>
							</div>
							<div class="item-image" style="background-image: url('{{ site.baseurl }}/assets/img/posts/{{ post.main-image }}');">
							</div>
						</a>
					</li>
			{% endif %}
		{% endfor %}
	</ul>

	
	<div class="view-all-eats">
		<a href="{{ site.baseurl }}/eats">
			<p>view all eats</p>
		</a>
	</div>

</div>
