{% for post in site.posts limit:1 %}

	<a href="{{ site.baseurl }}{{ post.url }}">
		<div class="article-feature">
			<div class="feature-header">
				<h3>
					<span class="feature-title">{{ post.title }}</span>
					<span class="feature-suburb"><i class="fa fa-circle" aria-hidden="true"></i> {{ post.suburb }}</span>
					<span class="feature-eaten"><i class="fa fa-circle" aria-hidden="true"></i> <strong>Eaten</strong> <span class="date">{{ post.date }}</span></span>
					<span class="rating"></span>
					<script>
						var rating = {{ post.rating }};
					</script>
				</h3>
			</div>
			<div class="feature-image" style="background-image: url('{{ site.baseurl }}/assets/img/posts/{{ post.main-image }}');">
				<span class="rating mobile"></span>
			</div>
			<div class="excerpt-overlay">
				<div class="feature-excerpt">
					<p class="article-typography">{{ post.content | strip_html | truncatewords:100 }}</p>
				</div>
			</div>
		</div>
	</a>

{% endfor %}