<section class="footer">
	<div class="footer-content">
		<hr class="hr-thin">
<!-- 		{% include nav.html %} -->
		<div class="insta-meta">
			<div class="insta-feed">
			</div>
			<p class="insta-text">instagram <i class="fa fa-circle" aria-hidden="true"></i> <a href="https://www.instagram.com/thetastingplate_/" target="_blank">@thetastingplate_</a></p>
			<a href="https://www.instagram.com/thetastingplate_/" target="_blank"><img class="insta-logo" src="{{ site.baseurl }}/assets/img/misc/logo-naked.png" alt="insta-logo"></a>
		</div>
		<div class="footer-text">
			<p class="email">inquiries <i class="fa fa-circle" aria-hidden="true"></i> </p>
			<p class="copyright">&copy; <span class="copyright-year"></span>, The Tasting Plate</p>
		</div>
	</div>
</section>