<section class="header">
	<div class="header-content">
		<div class="header-upper">
			<div class="title">
				<a href="{{ site.baseurl }}"><h1>The<br>Tasting<br>Plate</h1></a>
				<hr class="hr-thick">
				<p class="subtitle">Food chapters</p>
				<p class="subtitle">by <strong>Tina Mao</strong></h4>
			</div>
			{% include nav.html %}
		</div>

		<div class="header-lower">
			<div class="insta-meta">
				<img src="{{site.baseurl}}/assets/img/misc/insta.svg" alt="instagram" class="insta-icon">
			</div>
<!-- 			<div class="insta-feed">
			</div> -->
		</div>
	</div>
</section>
