<nav>
	<ul>
		<li><h2><a href="https://www.instagram.com/thetastingplate_/"><img class="insta-icon" src="{{ site.baseurl }}/assets/img/misc/insta.svg"></a></h2></li>
		<li><h2><a href="{{ site.baseurl }}/" {% if page.url == "/" %}class="active"{% endif %}>Home</a></h2></li>
		<li><h2><a href="{{ site.baseurl }}/eats" {% if page.url == "/eats/" %}class="active"{% endif %}>Eats</a></h2></li>
		<li><h2><a href="{{ site.baseurl }}/about" {% if page.url == "/about/" %}class="active"{% endif %}>About</a></h2></li>
	</ul>
</nav>