// breakpoints
/*=====================*/

$breakpoint-small: 570px
$breakpoint-medium: 860px

// medium
/*=====================*/

@media (min-width: $breakpoint-small) and (max-width: $breakpoint-medium)
	
	.header
		
		.header-content
			width: 90%
			padding-left: 10px
			padding-right: 10px

			.header-upper

				h1
					font-size: 35px
					line-height: 50px

	.body

		.body-content
			width: 90%
			padding-left: 10px
			padding-right: 10px

			.body-title

				h1
					font-size: 35px
					line-height: 50px

			a

				.article-feature

					.feature-header

						h3

							.rating
								display: none

					.feature-image

						.rating.mobile
							display: inline
							position: absolute
							padding-top: 13px

							.heart
								vertical-align: middle
								width: 20px
								margin-left: 5px

	.footer
		
		.footer-content
			width: 90%
			padding-left: 10px
			padding-right: 10px
			text-align: center

			.insta-meta
				float: none

				.insta-feed
					margin: auto

			.footer-text
				margin: auto
				float: none
				padding-top: 15px

	.article-index

		ul

			.article-item
				width: 47%

				a

					.item-image

	.post

		.post-header

			h3

			.rating
				display: none

		.post-content

			.rating.mobile
				display: inline
				position: absolute
				padding-top: 13px

				.heart
					vertical-align: middle
					width: 20px
					margin-left: 5px

// small
/*=====================*/

@media (max-width: $breakpoint-small)

	.header
		
		.header-content
			width: 90%
			padding-left: 10px
			padding-right: 10px

			.header-upper

				h1
					font-size: 35px
					line-height: 50px

	.body

		.body-content
			width: 90%
			padding-left: 10px
			padding-right: 10px

			.body-title

				h1
					font-size: 35px
					line-height: 50px

			a

				.article-feature

					.feature-header

						h3

						.rating
							display: none

					.feature-image
						height: 350px

						.rating.mobile
							display: inline
							position: absolute
							padding-top: 13px

							.heart
								vertical-align: middle
								width: 20px
								margin-left: 5px

	.footer
		
		.footer-content
			width: 90%
			padding-left: 10px
			padding-right: 10px
			text-align: center

			.insta-meta
				float: none

				.insta-feed
					margin: auto

			.footer-text
				margin: auto
				float: none
				padding-top: 15px

	.article-index

		ul

			.article-item
				width: 100%

				a

					.item-image

	.post

		.post-header

			h3

			.rating
				display: none

		.post-content

			.rating.mobile
				display: inline
				position: absolute
				padding-top: 13px

				.heart
					vertical-align: middle
					width: 20px
					margin-left: 5px