---
layout: default
---

<div class="body-title">
	<h1><a href="{{ site.baseurl }}/eats">Eats</a></span> <span class="body-title-post-name">/ {{ page.title }}</span></h1>
</div>

<!-- Share block -->
<aside class="share">
	<div class="share-title">
		<p>Share</p>
	</div>
	<div class="share-icons">
		<p><strong>f</strong></p>
		<p><strong>m</strong></p>
		<p><strong>t</strong></p>
	</div>
</aside>

<!-- Metadata block -->
<!-- <aside class="metadata">
	<div class="metadata-title">
		<p>Meta</p>
	</div>
	<div class="metadata-content">
		<p><strong>Author</strong> {{ page.author }}</p>
		<p><strong>Eaten</strong> <span class="date">{{ page.date }}</span></p>
		<p><strong>Rating</strong> {{ page.rating }}/5</p>
		<p><strong>Cost</strong> {{ page.cost }}</p>
		<hr class="hr-thin">
		<p><strong>Address</strong><br>{{ page.address }}</p>
		<hr class="hr-thin">
		<p><strong>District</strong><br>{{ page.district }}</p>
	</div>
</aside> -->

<!-- Post body -->
<section class="post">
	<div class="post-header">
		<h3 class="first">
			<span class="post-title">{{ page.title }}</span>
			<i class="fa fa-circle" aria-hidden="true"></i>
			<span class="post-suburb">{{ page.district }}</span>
			<i class="fa fa-circle" aria-hidden="true"></i>
			<span class="post-eaten">Eaten <span class="date">{{ page.date }}</span></span>
			<span class="rating"></span>
			<script>
				var rating = {{ page.rating }};
			</script>
		</h3>
		<hr class="hr-thin">
		<h3 class="second">
			<span class="post-address">Located at {{ page.address }}</span>
			<i class="fa fa-circle" aria-hidden="true"></i>
			<span class="post-rating">Rating {{ page.rating }}/5</span>
			<i class="fa fa-circle" aria-hidden="true"></i>
			<span class="published">{{ page.date }}</span>
		</h3>
	</div>
	<div class="post-content">
		<span class="rating mobile"></span>
		{{ page.content }}
	</div>
	{% include map.html %}
</section>

<div class="body-title">
	<h1>Recently Eaten</h1>
</div>

{% include article-index.html offset=0 limit=6 %}
